/* result */
.result{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;

  .CodeMirror-gutters{
    position: static;
    min-width: 30px;
  }


  .result__react{
    font-family: $font-familly-sans;
  }
}
.result--simple{
  .result__expression{
    font-family: $font-familly-sans;
  }
}

.result__errors-indicator {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1.4;
  width: 1.4em;
  text-align: center;
  z-index: 1000;
  font-size: 18px;
  display: none;

  .theme-light & {
    background-color: rgba(black, 0.2);
  }

  .theme-dark & {
    background-color: rgba(white, 0.2);
  }

  .result--has-errors & {
    display: block;
  }

  .mdi {
    line-height: 1;
    padding-bottom: 0;
  }
}

.result--obsolete{
  opacity: .5;
  position: relative;
}

.result > * > *{
  padding-bottom: 10px;
  display: block;
}

.result__lines{
  flex: 1;
}

.result__line{
  position: relative;
}


.result__line-number{
  text-align: right;
  right: 100%;
  border: 1px solid transparent;
  cursor: pointer;
}

.result__line-number--current{
  border-color: currentColor;
}

.result__expression{
  padding: 0 4px;
}

.errors {
  white-space: pre;
  color: $color__danger;
}
